* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}



/* ||||||||||||||||||||| Add CSS code under this line |||||||||||||||||||| */
body{
  background-color: rgb(229	228	233);
  font-family: 'Roboto', sans-serif;
}
#navbar{
  background-color: rgb(107	117	145	);
  padding-top: 10px;
  color: white;
  
}

li{
  display: list-item;
  list-style-type: disc;
  margin-left: 55px;
  padding-bottom: 10px;

}

code{
  background-color: rgb(96	104	115)	;
  color: white;
  width: 100%;
  height: 100px;
  display: block;
  padding: 20px;
}

code h3{
  text-decoration: underline;
}

header{
  text-align: center;
}

header h1{
  padding: 20px 10px;
}

#nav_link_container{
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
  display: flex;
  justify-content: space-around;
  
}
.nav_link{
  padding: 8px;
  text-decoration: none;
  color: rgb(226	228	233	);
  border-right: solid 1px grey;
}

.nav_link:last-child{
  border: none;
}

main{
  margin-top: 50px;
}

main section{
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 25px;
}

p{
  margin-bottom: 10px;
}

main h2{
  margin-left: -20px;
  margin-bottom: 20px;
}
@media screen and (min-width:700px) {
  
  #navbar{
    padding-top:30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    border-right: 1px solid grey;
}

main{
  margin-left: 28%;
}
#nav_link_container{
  flex-direction: column;
  border: none;

}
.nav_link{
  padding: 10px 20px;
  border-top: 2px solid grey;
  border-right: none;
}

.nav_link:last-child{
  border-top: 2px solid grey;
}

}